
*{
    user-select: none;
    font-family: monospace;
}
:root{
    --info:#d4f4ff;
    --info-border:#00bbff;
    --success:#ccffd5;
    --success-border:#007526;
    --warning:#fff6b6;
    --warning-border:#ffe100;
    --error:#ffc3c1;
    --error-border:#ff0800;
}
[data-theme="dark"]{
    --bg: #17181d;
    --bg-2:#20202a;
    --bg-reverse: #302323;
    --text:#db9225;
    --text-reverse: #3d3d3d;
    --primary: #F2DDBB;
    --secondary: #007526;
    --accent: #258ddb;
    --highlight: #F97E20;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
#closeToast,#burgerIcon>img,#ordersBtn,#searchIcon,#clearFilterBtn,#quickFilters>button,.btnEditOrder,.btnSaveOrder,.btnRemoveUnit,.btnAddUnit,.btnDeleteItem,
aside>span,#orderDetails>img,#ordersBtn{
    cursor: pointer;
}
#toast{
    display: flex;
    position: absolute;
    top: 12px;
    right: 15px;
    padding: 0;
    text-align: center;
    height: 36px;
    overflow-y: scroll;
    border: 2px solid;
    border-radius: 5px 0 0 5px;
    width: fit-content;
    max-width: calc(100% - 35px);
    align-items: center;
    justify-content: space-between;
    background-color: #f0f8ff;
    border-color: var(--info-border);
}
#toast>*{margin: 5px;}
#orderDetails{
    border: none;
    width: 70%;
    border-radius: 5px;
    background: transparent;
    border-block-end: #00bbff;

}
.orderTop{
    background: var(--info);
    display: flex;
    flex-flow: column;
    height: 300px;
    clip-path: polygon(20px 100%, 0 calc(100% - 20px), 0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%);
    padding-bottom: 20px;
    margin-bottom: -1px;
}
.orderTop>img{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
}
#orderId::before{
    content:'#';
}
#orderId{
    width: 50%;
    align-self: center;
    background: gainsboro;
    text-align: center;
}
.orderProductsList{
    margin-top: 20px;
    height: 100%;
    overflow-y: scroll;
}
.orderProducts{
    display: flex;
    flex-flow: column;
    padding-left: 0;
}
.orderProducts>li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--bg-2);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}.productName{
    text-decoration: underline;
}
.orderProducts>li>div{
    display: flex;
    align-items: center;
}
.btnRemoveUnit,.btnAddUnit,.btnDeleteItem{
    border: none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.btnRemoveUnit{
    background: red;
    color: aliceblue;
}
.btnAddUnit{
    content: '+';
    background: lightgreen;
}
.btnRemoveItem{color: transparent;}
.btnRemoveItem>img{
    width: 16px;
    user-select: none;
}
.orderStats{
    background: var(--info);
    border-radius: 0 0 5px 5px;
    height: 100px;
    clip-path: polygon(0 100%, 0 20px, 20px 0, calc(100% - 20px) 0, 100% 20px, 100% 100%);
}
.btnPrintOrder,.btnEditOrder,.btnSaveOrder{
    width: 36px;
    height: 36px;
    border: none;
}
.btnPrintOrder,.btnEditOrder{
    background: var(--accent);
}
.btnSaveOrder{
    background: var(--success);
}
.orderStats::before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 75%;
    border-bottom: 1px dashed black;
}
#orderDetails>hr{
    border: none;
    border-top: 1px dashed var(--bg);
    margin: 20px 0;
}
nav,search{
    position: absolute;
    right: 0;
    width: 55px;
    height: 50px;
    border-radius: 5px 0 0 5px ;
    display: flex;
    background: var(--primary);
}
nav{
    top: 60px;
    justify-content: end;
}
nav>img{
    margin-right: 10px;
    width: 30px;
}
main{
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    background: var(--bg);
    border-radius: 5px;
}
menu{
    background: #96969628;
    color: var(--text);
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    width: calc(100vw - 110px);
    height: calc(100vh - 140px);
}
.productCard{
    margin: 10px;
    width: 100px;
    height: 150px;
    background: var(--secondary);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
.productImage{
    width: 80px;
}
.add2OrderBtn{
    cursor: pointer;
    border: none;
    width: 40px;
    height: 20px;
    background: var(--highlight);
    color: var(--primary);
}
aside{
    position: absolute;
    left: 10px;
    width: 20px;
    height: fit-content;
    color: aliceblue;
    background: rgba(91, 29, 29, 0.468);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
aside>*{margin:2px 0;}
#ordersBtn{
    width: 40px;
    height: 40px;
    background: var(--accent);
    border-radius: 5px;
    border: none;
}
#ordersBtn>img{
    width: 24px;
    filter: invert();
    transform: rotate(-15deg);
}
#ordersBtn>sub{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    background: red;
    color: aliceblue;
    border-radius: 50%;
    line-height: 20px;
}
#quickFilters{
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    background: var(--primary);
}
#quickFilters>button{
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: var(--bg-reverse);
    margin: 5px;
    padding: 5px;
    width: 70px;
    color: aliceblue;
    border-radius: 5px;
}
#quickFilters img{
    width: 30px;
    filter: invert();
}
#logs{display: none;}
#searchBar{
    position: absolute;
    bottom: 150px;
    right: 5px;
}
#ordersBtn{
    margin: 10px;
    position: relative;
}
search{
    border: none;
    min-width: 55px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
}

search>img{
    width: 32px;
}
#searchIcon{
    margin: 0 10px;
    width: 32px;
}
search>input{
    width: 100%;
    height: 30px;
    margin: 0 10px;
}
#clearFilterBtn{
    margin: 0 10px;
}